<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Probando Ando</name>

<description>
Esta es una app basica
</description>

<author href="https://e-marketingevolution.com" email="malfaro@e-marketinevolution.com">
eMarketingEvolution
</author>

</widget>
